
h5{
    font-family: 'Alkatra', cursive;
}

.carousel-item img{
    border: 2px solid black;
    object-fit: cover;

  }

#imgArtista{
    /* sombra*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

#ItemNavBar{
    cursor: pointer;
  }

#textoArtista{
    font-weight: bold;
  }
