{% extends "baseAdmin.html" %}

{% load static %}
{% block titulo %}
Registro Artista
{% endblock %}
{% load crispy_forms_tags %}


{% block contenidoAdmin %}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <div>
                <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="{% static './Images/Logo 500x500.png' %}" alt="loginform"
                            class="d-block w-100 img-fluid" style="object-fit: cover; height: 600px" />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
                            <form class="row" id="RegisterForm" action="" method="POST" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">Ground Zero</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                                        Registro de cuenta
                                    </h5>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form | crispy}}

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">
                                                Registrar Artista
                                            </button>
                                        </div>
    
                                      </form>

                                    <a href="#" class="small text-muted" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal2">Terminos
                                        y Condiciones.</a>
                                    <a href="#!" class="small text-muted" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal3">Politica
                                        de privacidad.</a>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Terminos y Condiciones -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                    Terminos y Condiciones
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                interdum lacinia porttitor. Etiam vulputate quis ipsum in mollis.
                Vivamus sed mi justo. Mauris ultrices nisl vel nisi cursus placerat.
                Suspendisse dignissim nunc in sapien posuere blandit. Vestibulum
                ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia curae; Vivamus iaculis, erat ut ultricies faucibus, nisi
                eros vulputate nisi, eget tempus libero diam in urna. Integer
                egestas fringilla orci, nec bibendum lectus pellentesque eu. Vivamus
                tincidunt est nulla, a tincidunt tortor varius commodo. Nunc laoreet
                congue quam non congue. Aenean sit amet lacus metus. Nunc eros
                magna, ornare non ligula.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Politica de Privacidad -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">
                    Politica de Privacidad
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                interdum lacinia porttitor. Etiam vulputate quis ipsum in mollis.
                Vivamus sed mi justo. Mauris ultrices nisl vel nisi cursus placerat.
                Suspendisse dignissim nunc in sapien posuere blandit. Vestibulum
                ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia curae; Vivamus iaculis, erat ut ultricies faucibus, nisi
                eros vulputate nisi, eget tempus libero diam in urna. Integer
                egestas fringilla orci, nec bibendum lectus pellentesque eu. Vivamus
                tincidunt est nulla, a tincidunt tortor varius commodo. Nunc laoreet
                congue quam non congue. Aenean sit amet lacus metus. Nunc eros
                magna, ornare non ligula.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


