<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
    integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-mzK14yye5Z8XfW1aq6I5l5bQ/sffw8UtiWvb83MFmf/YU6nyBoDkR8vyZjQ4+be1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
  {% load static %}
  <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
  <script src="{% static 'js/validaciones.js' %}"></script>
  {% load crispy_forms_tags %}
  {% block titulo %}
  <title></title>
  {% endblock %}

  <style>
    body {
      font-family: "Roboto", sans-serif;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="{% static './Images/Logo.png' %}" alt="Logo de mi sitio web" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Contacto" aria-current="page" data-bs-toggle="modal"
              data-bs-target="#modalFormulario">{% block contacto %} {% endblock %}</a>
          </li>
          <!-- === INCLUDE === -->
          {% include 'contacto.html' %}

          {% if user.is_authenticated %}
        </ul>
        <a href="{% url 'logout' %}" class="btn btn-dark me-2">Cerrar sesión</a>
        <button type="button" class="btn btn-light me-2" disabled>Bienvenido {{user.username}}</button>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Acceder</a>
        </li>
        </ul>
        {% endif %}
        <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight">
          Buscar
        </button>
      </div>
    </div>
  </nav>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Búsqueda</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body">
      <form>
        <div class="mb-3">
          <label for="busquedaInput" class="form-label">Buscar por artista</label>
          <!------------------------modificado----------------------->
          <input type="text" class="form-control" id="txtBuscarArtista" placeholder="Ingrese nombre de artista" />
        </div>
        <!--------------------------------BOTON BUSCAR ARTISTA------------------------------------------------->
        <button type="button" class="btn btn-outline-success" name="btnBuscarArtista" id="btnBuscarArtista"
          onclick="buscarArtista()">Buscar</button>
      </form>
      <br />
      <form>
        <div class="mb-3">
          <label for="busquedaInput" class="form-label">Buscar por obra</label>
          <!-----------------------------------linea que cambia ---------------------------------->
          <input type="text" class="form-control" id="txtBuscarObra" placeholder="Ingrese nombre de la obra" />
        </div>
        <!------------------------------------BOTON BUSCAR POR OBRA ------LINEA QUE CAMBIA------->
        <button type="button" class="btn btn-outline-success" name="btnBuscarObra" id="btnBuscarObra"
          onclick="buscarObra()">Buscar</button>
      </form>
    </div>
  </div>



  <main>

    <div id="contenido">
      {% if messages %}
      {% for message in messages %}

      <script>
        Swal.fire({
          icon: '{{ message.tags }}',
          title: '{{ message }}',
          showConfirmButton: false,
          timer: 1500
        })
      </script>

      {% endfor %}
      {% endif %}



      <!-- === BLOCK CONTENT === -->
      {% block contenido %} {% endblock %}
    </div>


  </main>

  <!-- Modal Error datos -->


  <!-- Footer -->

  <footer class="bg-light text-center">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i
            class="bi bi-facebook"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i
            class="bi bi-twitter"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i
            class="bi bi-google"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i
            class="bi bi-instagram"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i
            class="bi bi-linkedin"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i
            class="bi bi-youtube"></i></a>
      </section>

      <section class="">
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                <strong>Suscríbete a nuestro boletín de noticias:</strong>
              </p>
            </div>

            <div class="col-md-5 col-12">
              <div class="form-outline mb-4">
                <input type="email" id="suscribirse" class="form-control" placeholder="Ingrese correo electrónico" />
                <label class="form-label" for="form5Example2">Correo electrónico</label>
              </div>
            </div>

            <div class="col-auto">
              <a href="#" onclick="validarSuscripcion()" class="btn btn-dark mb-4">Suscribirse</a>
            </div>
          </div>
        </form>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Derechos de autor:
      <a class="text-dark" href="#">GroundZero</a>
    </div>
  </footer>
</body>

<script>
  function validarSuscripcion() {
    var correo = document.getElementById("suscribirse").value;
    if (correo == "") {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Ingrese un correo electrónico',
      })
    } else {
      Swal.fire({
        icon: 'success',
        title: '¡Gracias por suscribirse!',
        text: 'Recibirá las últimas noticias de nuestros artistas',
      })
    }
  }
</script>

</html>