{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Nosotros</title>
{% endblock %}
{% block contacto %}Contacto{% endblock %}



{% block contenido %}
  <!-- HASTA AQUI VA EN TODAS LAS PAGINAS-->
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6">
        <div class="d-flex align-items-center justify-content-center">
          <img src="{% static './Images/Logo 500x500.png' %}" alt="Descripción de la imagen" />
        </div>
      </div>
      <div class="col-sm-5 text-justify text-center">
        <br /><br /><br /><br /><br />
        <h2>¿QUIENES SOMOS?</h2>
        <p>
          Buscamos presentar nuestro talento y visión a todo aquel que se
          sienta curioso por vivir una nueva experiencia a través de los
          distintos estímulos visuales. Aquí encontraras artistas que viven a
          través de sus obras, por lo cual podrás conocer un poco mas de ellos
          observando sus trabajos. Te invitamos a recorrer nuestra pagina para
          sorprenderte o conmoverte a través de nuestro dedicado oficio desde
          todos los rincones de Chile.
        </p>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

  <br />
  {% endblock %}