{% extends 'baseArtista.html' %}
{% load static %}
{% block titulo %}
<title>Perfil</title>
{% endblock %}

{% block contenidoArt %}
<style>
  .table td,
  .table th {
      vertical-align: middle;
      text-align: center;
  }

  .enlarge-image {
      transition: transform 0.3s;
  }

  .enlarge-image:hover {
      transform: scale(5);
      max-width: 300px;
      max-height: 300px;
  }
</style>

<!--
  OBRAS RECHAZADAS
-->

<div class="container" id="OP2">
  <div class="row">
      <div class="col-12 text-center">
          <h2>Tus obras rechazadas</h2>
          <br><br>
      </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre de la Obra</th>
              <th scope="col">Descripción</th>
              <th scope="col">Imagen</th>
              <th scope="col">Estado</th>
              <th scope="col">Motivo</th>
            </tr>
          </thead>
          <tbody>
            {% for obra in publicaciones %}
            {% if user.id == obra.autor_id %}
            {% if obra.estado == 2 %}
            <tr>
              <th scope="row">{{ obra.id }}</th>
              <td>{{obra.nombreObra}}</td>
              <td>{{obra.historia}}</td>
              <td>
                <img src="{{ obra.imagenObra.url }}" alt="Imagen de la obra" width="50" class="enlarge-image">
              </td>
              <td>Rechazada</td>
              <td> {{ obra.mensaje_rechazo }}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

<!--
  OBRAS APROBADAS
-->

<div class="container" id="OP2">
  <div class="row">
      <div class="col-12 text-center">
          <h2>Tus obras</h2>
          <br><br>
      </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre de la Obra</th>
              <th scope="col">Descripción</th>
              <th scope="col">Imagen</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for obra in publicaciones %}
            {% if user.id == obra.autor.id %}
            {% if obra.estado == 1 %}
            <tr>
              <th scope="row">{{ obra.id }}</th>
              <td>{{obra.nombreObra}}</td>
              <td>{{obra.historia}}</td>
              <td>
                <img src="{{ obra.imagenObra.url }}" alt="Imagen de la obra" width="50" class="enlarge-image">
              </td>
              <td>Publicada</td>
              <td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>



    {% endblock %}